.documentation {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 80px;
}

.documentation .content {
	padding: 30px 0;
	width: 700px;
}

.documentation h2 {
	border-bottom: none;
}

.documentation h3 {
	margin-top: 30px;
}

.documentation code.inline {
	display: inline;
	padding: 3px;
}

.documentation code {
	display: block;
	padding: 10px 12px;
	overflow-x: auto;
}